<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHXgu8o2GWS-_LNpsip_hEgXSwn72xpww</string>
	<key>GCM_SENDER_ID</key>
	<string>223841043864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soultalk.mate</string>
	<key>PROJECT_ID</key>
	<string>soultalk-b10d2</string>
	<key>STORAGE_BUCKET</key>
	<string>soultalk-b10d2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223841043864:ios:a0ab2f14291e0ce63dd7ed</string>
</dict>
</plist>